body {
  font-size: 16px;
  font-family: "Oxygen", sans-serif;
  color: white;
  background-color: #61122f;
}
#thisisnav {
  background-color: #f6b319;
  padding-top: 10px;
}
#brand {
  height: 150px;
  width: 150px;
}
.navbar-brand a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Lora", serif;
  color: white;
  text-shadow: 2px 2px 2px gray;
}
.navbar-brand p {
  margin-top: 10px;
}

.lista {
  text-align: center;
  color: #61122f;
}
.lista div {
  color: black;
  padding: 0px 8px;
  text-align: center;
}
.lista li:hover {
  background-color: #f7f1f3;
}
.navbar .navbar-toggler {
  border: 1px solid #61122f;
  background-color: wheat;
}
#menu-tile,
#specials-tile,
#map-tile {
  position: relative;
  border: 2px solid #3f0c1f;
  border-radius: 2px;
  height: 250px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
#menu-tile:hover,
#specials-tile:hover,
#map-tile:hover {
  box-shadow: 0px 1px 5px 1px #cccccc;
}
#menu-tile {
  background: url("../assets/food1.jfif") no-repeat;
  background-size: cover;
  background-position: center;
}
#specials-tile {
  background: url("../assets/food2.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
}
#menu-tile span,
#specials-tile span,
#map-tile span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #000;
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 1.5em;
}
#home-footer {
  background-color: #222;
}
#foot1,
#foot2,
#foot3 {
  line-height: 1.8;
}
#foot1 span,
#foot2 span,
#foot3 span {
  font-size: 1.2em;
}
#foot2 p {
  color: green;
  line-height: 1.5;
}
#foot3 p {
  font-style: italic;
}
.active {
  font-weight: bold;
}
@media (min-width: 768px) and (max-width: 992px) {
  #logo-img {
    height: 80px;
    width: 80px;
  }
  .jumbotron {
    background: url("../assets/restaurant.jpg") no-repeat;
    background-size: cover;
    height: 448px;
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;
    padding: 0px;
  }
  #phoneno {
    visibility: visible;
    margin-top: 20px;
    background-color: #f6b319;
    border-radius: 3px;
    text-decoration: none;
  }
  #phoneno:hover {
    cursor: pointer;
    color: blue;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 992px) {
  #phoneno {
    visibility: visible;
    margin-top: 20px;
    background-color: #f6b319;
    border-radius: 3px;
    text-decoration: none;
  }
  #phoneno:hover {
    cursor: pointer;
    color: blue;
  }
}

@media (min-width: 992px) {
  #phoneno {
    visibility: hidden;
  }
  #logo-img {
    height: 100px;
    width: 100px;
  }
  .jumbotron {
    background: url("../assets/restaurant.jpg") no-repeat;
    height: 558px;
    background-size: cover;
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;
  }
}
@media (max-width: 768px) {
  #logo-img {
    height: 70px;
    width: 70px;
  }
  .navbar-brand {
    font-size: 0.8em;
  }
  .navbar-brand h1 {
    font-size: 5vw;
  }
  .jumbotron {
    background: url("../assets/restaurant.jpg") no-repeat;
    background-size: cover;
    height: 330px;
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;
  }
  #phoneno {
    visibility: visible;
    margin-top: 20px;
    background-color: #f6b319;
    border-radius: 3px;
    text-decoration: none;
  }
  #phoneno:hover {
    cursor: pointer;
    color: blue;
  }
  .single-item-desc h4,
  .single-item-desc p {
    text-align: center;
  }
  .row .single-item-pic p {
    text-align: center;
  }
}
.jumbotron {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}
@media (min-width: 1200px) {
  .jumbotron {
    background: url("../assets/restaurant.jpg") no-repeat;
    height: 800px;
    background-size: cover;
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;
  }
  #phoneno {
    visibility: hidden;
  }
}
@media (max-width: 576px) {
  #home-footer section {
    margin-bottom: 20px;
    text-align: center;
  }
  #home-footer section:nth-child(3) {
    margin-bottom: 0;
  }
  #home-footer hr {
    width: 50%;
  }
}

/* menu categories page */
#menu-categories-title span {
  font-size: 1.5em;
  line-height: 1.8;
}
.category-tile {
  position: relative;
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #000;
  opacity: 0.7;
  font-size: 1.5em;
}
.category-tile:hover {
  box-shadow: 0px 1px 5px 1px #cccccc;
}

/* single category page */
#single-category-title span {
  font-size: 1.5em;
  line-height: 1.8;
}
.single-tile {
  margin-bottom: 25px;
}
.single-tile hr {
  width: 80%;
  margin: auto;
}
.single-item-pic {
  overflow: hidden;
  padding: 0;
  max-width: 250px;
}
.single-item-pic p {
  text-align: end;
  font-size: 1.2em;
}
.single-item-pic p span {
  font-size: 0.5em;
}
.pic-relative {
  position: relative;
  border-radius: 5px;
}
.pic-relative img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}
.pic-relative div {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.2em;
  background-color: #557c3e;
  border-radius: 5px;
  padding: 0px 10px;
}
.single-item-desc p {
  font-style: italic;
  font-size: 0.9em;
}
.single-item-desc h4 {
  margin-bottom: 10px;
}
